* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
	border-radius: 0px;
/*	background-color: black;
	color: white;*/
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;

}

.navbar-inverse a.navbar-brand {
  /*font-family: "Helvetica Neue", Helvetica;*/
  font-weight: 100;
  color:white;
}


.hero {
	background: url('hero_bg.jpeg') no-repeat center center fixed;
	height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;

}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color: white;
  text-align: center;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
  box-shadow: 0px 5px 5px -3px #2a2a2a;
}

.btn {
	border-radius: 0;
}

body {
	background: url('bottom_3_bg.png');
}

.features {
	color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1, .booyah-box label, .booyah-box input {
  margin-top:10px;
  margin-bottom: 10px;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.section {
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.lesson a {
  color: white;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}